* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(1, 30, 31);

    display: grid;

    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
        "lefttop topcenter toprightcneter toprightcneter"
        "leftcenter centercenter centercenter rightcenter"
        "leftbottom leftbottom bottomcenter rightbottom";

    gap: 10px;
    padding: 20px;
}

.lefttop {
    background-color: rgb(162, 212, 255);
    grid-area: lefttop;
    border-radius: 25px;
}

.leftcenter {
    background-color: rgb(252, 218, 173);
    grid-area: leftcenter;
    border-radius: 25px;
}

.leftbottom {
    background-color: aqua;
    grid-area: leftbottom;
    border-radius: 25px;
}

.topcenter {
    background-color: rgb(73, 219, 170);
    grid-area: topcenter;
    border-radius: 25px;
}

.centercenter {
    background-color: rgb(54, 86, 86);
    grid-area: centercenter;
    border-radius: 25px;
}

.bottomcenter {
    background-color: rgb(163, 163, 68);
    grid-area: bottomcenter;
    border-radius: 25px;
}

.toprightcneter {
    background-color: rgb(236, 130, 0);
    grid-area: toprightcneter;
    border-radius: 25px;
}

.rightcenter {
    background-color: rgb(100, 78, 46);
    grid-area: rightcenter;
    border-radius: 25px;
}

.rightbottom {
    background-color: rgb(129, 12, 239);
    grid-area: rightbottom;
    border-radius: 25px;
}